$body-color: red;

body {
  color: $body-color;
}
.hello{
    color:red;
    background: url('./icon.jpg');
}

.fas {
  background-color: rgb(58, 39, 39);
  padding:30px;
  font-size: 34px;
  border-radius: 50%; 
  color: white;
}